.searchContainer {
   width: 470px;
   margin: 30px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.searchContainer input,
.searchContainer button,
.searchContainer select {
   all: unset;
   border: 1px solid gray;
   border-radius: 20px;
   padding: 10px 16px;
}
.searchContainer button {
   background-color: rgb(3, 157, 3);
   border: none;
   color: white;
}
.noAudience {
   width: 420px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   padding: 16px;
   border-left: 8px solid rgb(206, 9, 9);
   border-radius: 15px;
   margin: 10px auto;
}